//scss variables
$main-purple: #584096;
$accent-black: #23224b;

//site styles
body{
    margin: 0px;
    font-family: 'Urbanist', sans-serif;
    color: $accent-black;
    overflow: hidden;
    font-size: 1.2em;
}



//header styles

#header .page-center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 0;
    background: white;
}



.header-logo-div{
    img{
        width: 130px;
    }
}

.header-main-content{
    display: flex;
    padding-top: 16px;
}

.header-page-nav{
    padding-top:6px;
    width: 550px;
    display: flex;
    justify-content: space-evenly;
}

.header-phone-number{
    background: $main-purple;
    height: 14px;
    width: 152px;
    padding: 6px 0 14px;
    border-radius: 3px;
    a{
        color: white;
        height: 100%;
        width: 100%;
        margin-left: -6px;
    }
}

.white-circle-bg{
    background-color: white;
    border-radius: 50%;
    color: $main-purple;
    padding: 4px 1px 4px 5px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.header-burger-button{
    color:$main-purple;
    font-size: 48px;
    padding-top: 10px;
    padding-right: 8px;
}

.header-page-nav,
.header-phone-number{
    display: none;
}


.header-phone-number,
.header-page-nav{
    a{
        text-decoration: none;
        padding: 3px 12px;
    }
}

//page styles

.page-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.container{
    padding-top: 40px;
    padding-bottom: 40px;
    &:nth-child(odd){
        background-color: $main-purple;
        color: white;
    }

    &:nth-child(even){
        background-color:white;
        h3{
            color:$main-purple;
        }
        p{
            color: $accent-black;
        }
    }
}

.banner{
    h1,h2,h3{
        text-transform: uppercase;
    }
    h1{
        font-size: 2.7em; 
    }
    h2{
        font-weight: 300;
    }
    h3{
        font-weight: 600;
    }
}


.text-container{
    margin-bottom: 30px;
}

.card-container{
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    background-color: white;
    flex-basis: 400px;
    text-align: center;
    margin: 15px;
    a {
        text-decoration: none;
    }
    img{
        width: 100%;
        height: 45%;
        object-fit: cover;
    }
    h3, p{
        margin: 35px;
    }
    h3{
        text-transform: uppercase;
        color:$main-purple
    }
    p{
        color:$accent-black
    }

}



//footer styles

#footer{
    width: 100vw;

    .main-content{
        margin: 0 auto;
        width: 95vw;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .section{
        a{
            color: black;
            text-decoration: none;
        }
        li{
            list-style: none;
        }
        ul{
            padding-left: 0;
        }
        h3{
            color:$main-purple;
        }
        p{
          margin: 4px 0;  
        }    
    }

    .ul-1{
        i{
            font-size: 12px;
            color: $main-purple;
            padding-right: 12px;
        }
    }

    .ul-2{
        i{
            font-size: 32px;
            padding-bottom: 10px;
            padding-right: 18px;
        }
    
        .twitter-blue{
            padding-right: 12px;
        }
    }

    .facebook-blue{
        color:#3b5998;
    }
    
    .twitter-blue{
        color: #1DA1F2;
    }
    
    .linkedin-blue{
        color: #0072b1;
    }
    
    .copyright{
        width: 100vw;
        background-color: $main-purple;
        color: white;
        text-align: center;
        padding: 8px 0;
    }
}

//sidemenu styles

#sidemenu{
    width: 250px;
    background: $main-purple;
    
    height: 100vw;
    text-align: center;
    font-size: 24px;
    position: fixed;
    right: 0;
    top: 0;
    ul{
        padding-top: 20px;
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    li{
        padding-bottom: 16px;
    }

    a{
        color: white;
        text-decoration: none;
    }
}

.anim{
    transition: all 0.4s ease-in-out 0.1s;
}

.menu-show{
    margin-right: 0;
}

.menu-hide{
    margin-right: -250px;
}

.container-normal{
    margin-left: 0;
}

.container-move{
    margin-left: -250px;
}

#overlay{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    cursor: pointer;
}

#container{
    max-width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

//maybe account for page being expanded past a certain point
//remove overlay, move sidemenu and container back to normal

//sticky header styles

.sticky{
    position: fixed;
    z-index: 5;
    transition: top 0.4s ease-in-out 0.1s;
    background: white;
    width: calc(100vw - 17px);
}

.sticky-show{
    top: 0;
}

.sticky-hide{
    top: -100%;
}




@media(min-width: 650px){
    #footer{
        .main-content{
            display: flex;
            width: 500px;
        }
    } 

    .card{
        flex-basis: 600px;
    }

    .page-center{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(min-width: 920px){

    .banner .page-center{
        width:470px;
        margin-right: auto;
        margin-left: 50px;
    }

    .container{
        &:nth-child(odd){
            .page-center{
                text-align: left;
            }
        }
    }

    .page-center{
        width: 870px;
    }

    .card{
        flex-basis: 250px;
    }
    
    .text-container{
        display: flex;
        justify-content: space-between;
        

        h2{
            width: 200px;
        }
        p{
            width: 640px;
        }
    }

    .card-container{
        justify-content: space-between;
    }

    
    .header-burger-button{
        display: none;
    }

    .header-page-nav,
    .header-phone-number{
        display: flex;
    }

    #footer{
        .main-content{
            width: 720px;
        }
    } 

}

@media(min-width: 1200px){
    .text-container{
        p{
            margin-left: 30px;
            width: 950px;
        }
    }

    .page-center{
        width: 1150px;
    }

    .card{
        flex-basis: 350px;
    }

    .header-page-nav{
        width: 750px;
    }
}